DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=construction_pm
PORT=5000
CLOUDINARY_API_KEY=112193518289561
CLOUDINARY_API_SECRET=y50dnmTv9t6tSYx9yzTKoFRO7aA
CLOUDINARY_CLOUD_NAME=dz9bqzazv
ADMIN_RESET_KEY=navyakar_admin_2026_emergency
